#title {
    text-align: center;
    font-size: 70px;
    font-style: italic;
    margin-top: 80px;
    margin-bottom: 20px;
}

#turn {
    margin: auto;
    width: 270px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-size: xx-large;
    font-weight: 550;
    background-color: rgba(43, 0, 63, 0.39);
}

.turn_on {
    opacity: 100%;
}
.turn_off {
    opacity: 25%;
}

.outer {
    display: table;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
.middle {
    display: table-cell;
    vertical-align: middle;
}
  
.inner {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
    border:1px solid rgb(13, 3, 59);
}

button {
    height: 50px;
    width: 50px;
    font-size: xx-large;
    font-weight: 550;
    border: 1px solid rgb(13, 3, 59);
}

.x {
    float: left;
    color: rgb(13, 3, 59);
}
.o {
    float: left;
    color: rgb(116, 8, 8);
}

#game_over {
    display: none;
    margin: auto;
    margin-top: 40px;
    z-index: 1;
    height: 250px;
    width: 450px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 2px solid black;
}

#result {
    margin: auto;
    margin-top: 20px;
    font-size: 90px;
    font: bold;
    text-align: center;
    color: goldenrod;
}

#restart_button {
    margin: auto;
    margin-top: 15px;
    height: 75px;
    width: 75px;
}

#restart_button #helper {
    position: absolute;
    height: 75px;
    width: 75px;
} #restart_button img {
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 55px;
    width: 55px;
} 

#restart_button button {
    height: 75px;
    width: 75px;
    background-color: goldenrod;
    border-radius: 10px;
    border: 0;
}